@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 49, 71, 58;
  --background-rgb: 237, 244, 242;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

::selection {
  background-color: #31473A;
  color: #EDF4F2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}